<div>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Program</th>
            <th>GPA</th>
        </tr>
        {{#each students}}
        <tr>
            <td>{{studId}}</td>
            <td>{{name}}</td>
            <td>{{program}}</td>
            <td>{{gpa}}</td>
        </tr>
        {{else}}<td colspan="4">No Data Available</td>
        {{/each}}
        <tr>
        
    </tr>
    
    </table>
</div>